.Jobs {
  color: #2c2c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.Jobs-heading {
  display: flex;
  flex-direction: column;
  background-color: rgba(127, 255, 212, 0.632);
  padding: 15px;
  color: white;
  width: 70vw;
  margin-bottom: 15px;
  align-items: center;
  box-shadow: 0 2px 5px rgba(4, 4, 4, 0.12);
  border: #2c2c342a 1px solid;
}

.Jobs-title {
  display: inline;
  color: #2c2c34;
  margin: 5px;
}

.Jobs-info {
  padding: 15px;
  background-color: #2c2c34;
  color: white;
  width: 70vw;
  text-align: left;
  border-radius: 2px;
}

.Jobs-desc {
  padding: 5px 0px;
  margin: 0px;
  font-size: small;
}

.Jobs-slogan {
  margin: 0px;
}

.Job-instance {
  margin: 2px;
}

.Jobs-avJobs {
  color: black;
}
